@font-face {
    font-family: 'balgrufregular';
    src: url('balgruf-jrye7-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hpphumblescratchregular';
    src: url('hpphumblescratch-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tengwar_annatarregular';
    src: url('tngan-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dalelands_uncialregular';
    src: url('dalelandsuncial-bopn-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'middleearthmedium';
    src: url('middleearth-ao6m-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}